extends ./layout.jade
block content
    h1 #{title}
    p.
        Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... 
        Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... Lorem ipsum etc... 
    p.  
        other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. 
        other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. other ipsum. 
block sidebar
    .block
        h1 Right sidebar 
        p
            blab blab blab blab blab blab blab blab blab blab blab blab blab blab 
        br
        .readmore 
            a(href="http://infoframe.hu") oh yeah
