doctype html
html
    head
        title #{title} - Node.js with jade
        link(rel='stylesheet', href='/css/styles.css')
    body
        header
            .container
                h1 this is H1
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            .container
                p No copyright, sorry    
        